
.canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}

text.atom {
	cursor: default;
	fill: black;
	font-size: 18;
}

rect.cut {
	rx: 32;
	ry: 32;
	stroke: #000000;
}

.canvas text.selected {
	fill: blue;
}

.canvas rect.selected {
	stroke:blue;
}

.mouseover {
	fill: #f4f4f4;
	cursor: pointer;
}

.mouseout {
	fill: #c8c8c8;
	stroke: white;
	stroke-width: 1px;
}

.menutext {
	fill: steelblue;
	font-size: 13;
	cursor: pointer;
}