.sidebar {
	height: 100%;
	width: 0px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	overflow-x: auto;
	transition: 0.5s;
	padding-top: 60px;
	display: block;
    border-radius: 8px;
}

.construct {
    background-color: #111;
    width: 250px;
}

.inference {
    background-color: #111;
    width: 0px;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
    cursor: pointer;
	transition: 0.3s;
    white-space: nowrap;
}

.sidebar a:hover {
	color: #f1f1f1;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}


.sidebar .button {
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 10%;
	cursor: pointer;
	border-radius: 8px;
    width: 80%;
    white-space: nowrap;
    min-width: 200px;
    transition: 0.3s;
    outline: none;
}

.sidebar .bgreen {background-color: #4daf4a; border: 3px solid #4daf4a;} /* Green */
.sidebar .bblue {background-color: #377eb8; border: 3px solid #377eb8;} /* Blue */
.sidebar .bred {background-color: #e41a1c; border: 3px solid #e41a1c;} /* Red */ 
.sidebar .bpurple {background-color: #984ea3; border: 3px solid #984ea3;} /* Purple */ 
.sidebar .borange {background-color: #ff7f00; border: 3px solid #ff7f00;} /* Orange */
